@keyframes inactive-animation {
  0% {
    opacity: 1;
    pointer-events: none;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@keyframes active-animation {
  0% {
    opacity: 0;
    display: block;
    visibility: visible;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes active-animation-2 {
  0% {
    opacity: 0;
    display: block;
    visibility: visible;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

/*TODO change to good looking toss animation here*/
/* and replace image with css gradients*/
@keyframes toss-animation {
  0% {
    opacity: 0.25;
    display: block;
    visibility: visible;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
    display: none;
    visibility: hidden;
  }
}
@keyframes rollTheDice {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes waiting-animation {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}