$text: white;

$gray: #bbb;
$lightgray: #ccc;
$text-black: #202020;
$darkgray_t: rgba(68, 68, 68, 0.6);
$cancel: #555;
$cancel_h: #666;
$error_b: rgba(210, 12, 12, 0.87);
$success_b: rgba(7, 210, 7, 0.8);
$warning: orange;

$online-border: #7CFC00;
$offline-border: #ff002f;
$online-back: #7CFC00;
$offline-back: #ff002f;

$tab-arrow-border: transparent transparent #fc603b transparent;

$broker-back: rgba(0,0,0, 0.4);

$modals-back: rgba(255, 255, 255, 0.3);
$modals-shadow: rgb(123, 70, 57);

$tables-back: rgba(10, 30, 60, 0.85);

$players-black: #121041;
$players-card-back: rgba(241, 102, 47, 0.95);
$players-card-black: #121041;
