$text: white;

$gray: #bbb;
$lightgray: #ccc;

$online-border: #7CFC00;
$offline-border: #ff002f;
$online-back: #7CFC00;
$offline-back: #ff002f;

$tab-arrow-border: transparent transparent #fc603b transparent;

$broker-back: rgba(0,0,0, 0.4);

$modals-back: rgba(255, 255, 255, 0.3);
$modals-shadow: rgb(123, 70, 57);

$tables-back: rgba(10, 30, 60, 0.85);

$players-card-back: rgba(241, 102, 47, 0.95);
$players-card-black: #121041;
