// @import url('https://fonts.googleapis.com/css?family=Roboto');
$broker-fw-txt: 600;
$broker-fw-count: 600;
$broker-fw-tab: 600;
$broker-fw-sel: 600;

$game-fw-tab: 600;
$game-fw-btn: 600;
$game-fw-card: 600;
$game-fw-msg: 600;
$game-fw-txt: 600;

$modals-fw: 600;