// @import url('https://fonts.googleapis.com/css?family=Roboto');
$broker-fw-txt: 400;
$broker-fw-count: 400;
$broker-fw-tab: 400;
$broker-fw-sel: 400;
$broker-fw-btn: 400;

$game-fw-tab: 400;
$game-fw-btn: 400;
$game-fw-card: 400;
$game-fw-msg: 400;
$game-fw-txt: 400;

$modals-fw: 400;