#broker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: inactive-animation .8s forwards;

    &.active {
        animation: active-animation .8s forwards;
    }

    .main-broker {
        display: flex;
        column-count: 2;
        justify-content: space-around;
        flex-direction: row;
        padding: 15px 40px;
        background-color: $broker-back;
        height: 100%;

        .creation-region {
            display: none;
        }

        &.creation-state {
            .broker-part {
                display: none;
            }
            .creation-region {
                display: flex;
                width: 100%;
            }
        }

        .creation-region {
            .create-team,
            .create-lineUp {
                width: 100%;
                h3 {
                    color: $text;
                }

                .creation-header {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: rgba(255, 255, 255, 0.3);

                    .team-info {
                        display: flex;
                        color: white;
                        padding: 0 5px;
                        justify-content: space-around;
                        align-items: baseline;
                        font-size: 14px;

                        .block {
                            padding: 0 10px;

                            label {
                                padding-right: 10px;
                            }
                            input {
                                height: 30px;
                                padding: 0 5px;
                            }

                            .balance, 
                            .count {
                                font-size: 15px;
                                color: #71ff61;
                                font-weight: 600;
                            }
                        }
                    }
                }

                .players-list-container {
                    margin-top: 20px;
                    overflow-y: auto;
                    border: 1px solid white;
                    max-height: calc(100% - 100px);
                    border-collapse: collapse;

                    table {
                        width: 100%;
                        display: flex;
                        border-collapse: collapse;

                        tbody {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            color: white;
                            font-size: 16px;
                            font-weight: 600;

                            tr {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;

                                td {
                                    padding: 5px 10px;
                                    height: 40px;

                                    &.with-name {
                                        width: 350px;
                                    }

                                    &.with-cost {
                                        width: 80px;
                                    }

                                    &.with-select {
                                        .player-position {
                                            border-radius: 2px;
                                            background-color: rgba(255,255,255,0.3);
                                            padding: 0 5px;
                                        }
                                    }

                                    select {
                                        border: 0;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .broker-part {
            flex-direction: column;

            .team-choose-head {
                display: none;
            }

            &.right-broker.team-state {
                .broker-buttons {
                    display: none;
                }
                .broker-list {
                    display: none;
                }
                .team-choose-head {
                    display: flex;

                    .tip {
                        display: flex;
                        color: $text;
                        padding: 6px 12px;
                        background-color: rgba(255, 255, 255, 0.3);
                        i {
                            font-size: 24px;
                            margin: 8px 8px 0 0;
                        }
                        span {
                            font-size: 18px;
                            margin-top: 8px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .broker-buttons {
                flex-direction: row;
            }

            .broker-list {
                margin: 20px 0;
                display: flex;
                flex-direction: column;
                
                .list-container {
                    max-height: 340px;
                    overflow-y: auto;

                    &::-webkit-scrollbar {
                        width: 10px;
                        background-color: rgba(255, 160, 90, 0.6);
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: rgba(0, 0, 0, 0.7);
                        border: 2px solid rgba(255, 120, 60, 0.8);
                    }

                    ul {
                        list-style: none;
                        color: $text;
                        font-weight: normal;
                        font-size: 16px;
                        padding: 0;

                        li:nth-child(even) {
                            background: rgba(255, 80, 40, 0.4);
                        }
                        li:nth-child(odd) {
                            background: rgba(255, 160, 90, 0.6);
                        }

                        li {
                            padding: 5px 10px;
                            cursor: pointer;

                            &:hover {
                                background-color: rgba(255,0,255,0.4);
                            }

                            .lineups-container {
                                display: none;
                                flex-direction: column;
                                margin-left: 240px;
                                margin-top: -30px;
                                padding: 3px;
                                position: absolute;
                                background: rgba(102,42,42,0.8);
                                width: 200px;

                                .lineup:nth-child(even) {
                                    background: rgba(0, 0, 0, 0.1);
                                }
                                .lineup:nth-child(odd) {
                                    background: rgba(0, 0, 0, 0.3);
                                }

                                .lineup:hover {
                                    background-color: rgba(80, 80, 240, 0.4);
                                }

                                .lineup {
                                    color: $text;
                                    margin-bottom: 5px;
                                    padding: 0 5px;

                                    &.selected {
                                        background-color: green;
                                    }
                                }

                                .new-lineup {
                                    text-align: center;
                                }
                            }

                            &.team.selected,
                            &.available-user.selected,
                            &.invitation-by-email.selected,
                            &.my-game.selected {
                                background-color: green;
                            }

                            &.team.selected {
                               .lineups-container {
                                    display: flex;
                                } 
                            }

                            .icon-actions {
                                float: right;
                                font-size: 20px;
                                padding-top: 2px;

                                i {
                                    padding-left: 6px;
                                    &:hover::before {
                                        padding: 2px;
                                        border-radius: 2px;
                                        background-color: rgba(0, 255, 0, 0.5);
                                    }
                                }
                                .to-lineup {
                                    
                                }
                                .edit-icon {
                                    font-size: 18px;
                                }
                                .remove-icon {

                                }
                            }

                            &.new-team {
                                text-align: center;
                            }
                        }

                        .invitation-by-email {
                            padding: 10px 20px;
                            background-color: rgba(250, 96, 50, 0.5);

                            .invitation-inputs-box {
                                display: flex;
                                flex-direction: column;

                                .form-group {
                                    margin: 0;

                                    .form-control {
                                        margin: 0;
                                        height: 30px;
                                        background-color: rgba(255, 255, 255, 0.8);

                                        &[type=number]::-webkit-inner-spin-button, 
                                        &[type=number]::-webkit-outer-spin-button { 
                                            -webkit-appearance: none;
                                            -moz-appearance: none;
                                            appearance: none;
                                            margin: 0; 
                                        }
                                    }

                                    .invitation-error-message {
                                        color: yellow;
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }

                }

                .broker-left-buttons {
                    display: flex;
                    flex-direction: row;
                }

                button {
                    top: 10px;
                    left: 0;
                    right: 0;
                    position: relative;
                    margin: auto;
                    display: none;
                }

                &.shown.presented {

                    .left-buttons {
                        display: flex;
                    }
                    button.confirm-btn {
                        display: block;
                    }
                    button.cancel-btn {
                        display: none;
                        background-color: #ddd;
                        margin-left: 0;
                        &:hover {
                            color: #333;
                            background-color: #e6e6e6;
                            border-color: #adadad;
                        }
                    }

                    &.my-teams {
                        button.confirm-btn {
                            display: block;
                        }
                        button.cancel-btn {
                            display: block;
                        }
                    }
                }

                &.shown .list-container:before {
                    content: "";
                            border-style: solid;
                            border-width: 20px 20px 20px 20px;
                            border-color: $tab-arrow-border;
                            position: absolute;
                            top: 50px;
                }

                &.shown.games-active .list-container:before {
                    // margin-left: 210px;
                }
                &.shown.my-teams .list-container:before {
                    margin-left: 210px;
                }
            }
        }
    }
}
.broker-loader {
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    .loader-svg {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: url('images/loader.svg') no-repeat center;
    }
}