#game {
    height: 100%;
    z-index: 0;
    
    .game-container {
        height: 100%;
        .game-interraction {
            animation: inactive-animation .8s forwards;
            #game-interface {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
        }

        .game-field {
            animation: inactive-animation .8s forwards;
            height: 100%;
            position: relative;

            .field-container {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 0;
                margin: 0;
                position: relative;
                pointer-events: none;

                .game-field-class {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;
                    pointer-events: all;
                    position: relative;

                    .field-top {
                        top: 35%;
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding: 0 24%;

                        .field {
                            width: 80px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            z-index: 2;
                            cursor: help;

                            &.left-field,
                            &.right-field {
                                margin-top: 20px;
                            }

                            &.center-field {
                                margin-left: 1.5%;
                            }
                        }
                    }
                    .field-bases {
                        display: flex;
                        justify-content: space-between;
                        top: calc(50% - 85px);
                        position: relative;
                        width: 100%;
                        height: calc(25% + 40px);
                        padding: 0 24%;

                        .base-part {
                            display: flex;
                            justify-content: space-between;
                            flex: 1;

                            .base {
                                width: 80px;
                                height: 40px;
                                margin: 2px;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                z-index: 2;
                                cursor: help;
                                position: relative;

                                &.first-base,
                                &.third-base {
                                    top: 20%;
                                    position: absolute;
                                }
                                &.first-base {
                                    right: 0;
                                }

                                &.on-left-catcher {
                                    justify-content: flex-end;
                                    position: relative;
                                    left: 30px;
                                    top: 30px;
                                }

                                &.on-right-catcher {
                                    justify-content: flex-start;
                                    position: relative;
                                    margin-left: -30px;
                                    top: 30px;
                                }

                                &.pitcher {
                                    top: 33%;
                                    position: absolute;
                                }
                            }

                            &.left-base-part {
                                flex-direction: row;
                                position: relative;

                                .short-stop {
                                    position: absolute;
                                    left: 75%;
                                    top: 7%;
                                }
                            }

                            &.right-base-part {
                                flex-direction: row;
                                justify-content: flex-end;
                                position: relative;

                                .second-base {
                                    position: absolute;
                                    right: 75%;
                                    top: 7%;
                                }
                            }

                            &.center-base-part {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                position: relative;
                                margin-left: -20px;

                                .on-left-central-part,
                                .middle-central-part,
                                .on-right-central-part {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    position: relative;

                                }
                                .on-left-central-part,
                                .on-right-central-part {
                                    justify-content: flex-end;
                                    margin-bottom: 20%;
                                    position: relative;
                                }
                            }
                        }
                    }

                    .player {
                        height: 100%;
                        width: 50%;
                        position: relative;

                        span {
                            position: absolute;
                            color: #ffe55d;
                            font-weight: 800;
                            font-size: 7px;
                            line-height: 12px;
                            top: 30px;
                            max-width: 40px;
                            word-wrap: break-word;
                            visibility: hidden;
                        }

                        img {
                            width: 100%;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }

    &.active {
        z-index: 1;
        .game-container {
            &:not(.fadeIn) {
                .game-interraction {
                    animation: active-animation .8s forwards;
                }
                .game-field {
                    animation: active-animation .8s forwards;
                }
            }

            &.fadeIn {
                .game-field {
                    animation: active-animation-2 2.8s forwards;

                }
                .game-interraction {
                    animation: active-animation-2 2.8s forwards;
                }
            }
        } 
    }
}

.loader {
	background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    .loader-svg {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: url('images/loader.svg') no-repeat center;
    }
}
.toss {
    background: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    display: none;
    z-index: 999;

    .toss-block {
        width: 200px;
        height: 200px;
        position: relative;

        .toss-message {
            color: #80ff80;
            font-size: 24px;
            font-weight: $game-fw-msg;
            padding: 5px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9;
        }

        .dice {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;

            img {
                width: 50%;
                height: 50%;
            }
        }
    }

    &.begin {
        display: flex;
        // animation: toss-animation infinite;
        animation: toss-animation 2.0s forwards;

        .toss-block {
            .dice {
               animation: rollTheDice 1.2s infinite;
               animation-timing-function: linear;
            }
        }
    }
}
.modals-layout {
    .players-card {
        box-shadow: 6px 7px 16px 3px rgba(0,0,0,0.75);
        margin: -20px;
        padding: 0;
        width: 480px;
        height: 500px;
        border: 2px solid #a0afcb;
        border-radius: 3px;
        position: relative;

        .card-player {
            background-color: $players-card-back;
            margin: 3px 2px;
            display: flex;
            position: relative;

            .player-photo {
                padding: 5px;
                height: 170px;

                img {
                    width: 170px;
                    height: 160px;
                    border: 1px solid black;
                    background-color: white;
                }
            }

            .player-info {
                display: flex;
                flex-direction: column;

                .player-name {
                    display: flex;
                    flex-direction: column;

                    h3.name {
                        color: white;
                        font-size: 20px;
                        font-weight: 500;
                        text-align: center;
                        margin: 0;
                        line-height: 20px;
                    }
                    h4.position {
                        color: white;
                        font-size: 16px;
                        font-weight: 500;
                        text-align: center;
                        margin: 0;
                        line-height: 20px;
                    }
                }

                .player-additional {
                    font-size: 12px;
                    font-weight: 500;
                    color: $players-card-black;
                    display: flex;
                    flex-direction: column;
                    padding: 2px 5px;
                    background-size: 0.4em 0.4em;
                    line-height: 15px;
                    width: 280px;
                    height: 120px;

                    span {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }

            .close {
                position: absolute;
                right: -2px;
                top: -3px;
                font-size: 14px;
                color: black;
                background-color: $players-card-back;
                opacity: 1;
                border-radius: 50%;
                padding: 0 3px 2px;
            }
        }

        .card-stats {
            .record {
                padding: 5px 2px 0;
                .records-title {
                    h4 {
                        width: 200px;
                        color: white;
                        text-align: center;
                        background-color: $players-card-back;
                        margin: 0;
                    }
                }
                .records-table {
                    font-size: 11px;
                    font-weight: $game-fw-tab;
                    color: $players-card-black;
                    text-align: center;

                    table {
                        border: 1px solid $players-card-back;
                        background: rgba(255, 255, 255, 0.65);
                        width: 100%;
                        i.divider {
                            padding: 0 2px;
                        }

                        tr {
                            height: 20px;
                            th {
                                text-align: center;
                                padding: 1px;
                            }
                            td {
                                font-size: 9px;
                                text-align: center;
                                padding: 1px;
                            }
                            &.seasons-sum {
                                .seasons-text {
                                    text-align: left;
                                    padding-left: 5px;
                                }
                                .empty {
                                    display: none;
                                }
                                td {
                                    font-weight: 900;
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .card-footer {
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-around;
            width: 100%;
            height: 86px;

            .card-ball {
                background: url('images/baseball_ball.png') no-repeat center;
                display: flex;
                align-items: center;
                background-size: 100px 100px;
                .players-team {
                    font-size: 40px;
                    font-weight: $game-fw-card;
                    color: black;
                    text-align: center;
                    text-shadow: 1px 1px 2px rgba(255, 0, 0, 1);
                }
            }

            .card-year {
                display: flex;
                align-items: flex-end;
                .year {
                    font-size: 40px;
                    font-weight: 500;
                    color: $players-card-black;
                    text-align: center;
                }
            }
        }
    }

}