.information-table {
    height: 400px;
    color: $text;
    padding: 0;

    .information-table-container {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-between;
    	height: 100%;

    	.table-column {
    		display: flex;
    		flex-direction: column;

    		&.left-table,
	    	&.right-table {
	    		width: 220px;
	    		height: 400px;
	    	}

	    	&.left-table,
	    	&.right-table {

	    		.game-interruption-buttons {
	    			display: flex;
				    width: 100%;
				    height: 30px;
				    padding: 4px;
				    margin-bottom: 4px;
				    background: $tables-back;
				    justify-content: space-between;
				    z-index: 1;
	    			.menu-btn.abandon_btn,
				    .menu-btn.pause_btn {
				        font-size: 12px;
					    padding: 5px 14px;
					    height: 20px;
					    background-color: #576996 !important;
					    border-radius: 2px;
					    font-weight: 600;
				    }
	    		}

	    		.opponent-status {
			        padding-right: 8px;
				    padding-top: 3px;
				    margin-bottom: 4px;
				    background: $tables-back;
				    line-height: 24px;

			        .opponent-in-game {
			            width: 18px;
			            height: 18px;
			            border-radius: 50%;
			            border: 1px solid #888;
			            background-color: #aaa;
			            float: left;
			            margin: 2px 8px;

			            &.online {
			                border-color: $online-border;
			                background-color: $online-back;
			            }
			            &.offline {
			                border-color: $offline-border;
			                background-color: $offline-back;
			            }
			        }

			        .status-text {
			            font-weight: 600;
			            color: $text;
			            font-size: 12px;
			        }
			    }

	    		.left-player-info,
	    		.right-player-info {
	    			background: $tables-back;
				    height: 150px;
				    margin-bottom: 10px;
				    display: flex;
				    flex-direction: column;
				    align-items: center;
				    padding: 0 0 8px 0;

				    .player-role,
				    .player-year {
					    font-size: 12px;
					    font-weight: 600;
					    line-height: 20px;
					}
					.player-name {
					    font-size: 14px;
					    font-weight: 600;
					}

				    .player-skills-container {
				    	display: flex;
				    	flex-direction: column;
				    	font-size: 12px;
    					font-weight: 600;
    					width: 85%;

				    	.player-skills {
				    		display: flex;
				    		flex-direction: row;
				    		justify-content: space-between;

				    		.skill-level {
				    			&.level-4 {
				    				color: yellow;
				    			}
				    			&.level-5 {
				    				color: green;
				    			}
				    		}

				    		&.stamina-status {
				    			display: flex;
				    			flex-direction: column;
				    			justify-content: space-between;
					    		.stamina-line {
								    width: 100%;
								    padding: 3px;
								    background-color: green;
								}
								.stamina-text {
									font-size: 10px;
									font-weight: 600;
								}
							}
				    	}
				    }
	    		}

	    		.left-team-info,
	    		.right-team-info {
    				height: calc(100% - 160px);
    				display: flex;
				    flex-direction: column;
				    background: $tables-back;
				    text-align: center;
				    max-height: 200px;
    				overflow-y: auto;

				    .team-info {
			    		display: flex;
			    		flex-direction: row;
			    		justify-content: space-between;
			    		min-height: 40px;
			    		.user-field {
			    			display: flex;
			    			flex-direction: column;
			    			padding-left: 10px;
    						text-align: left;
    						font-size: 13px;
    						font-weight: 600;

			    			.user-name {
			    				color: white;
			    				line-height: 20px;
			    			}
			    			.team-city {
			    				color: gray;
			    				font-size: 12px;
    							line-height: 18px;
			    			}
			    		}
			    		.team-status {
			    			background-color: gray;
						    border-radius: 50%;
						    margin: 5px;
						    padding: 3px;
    						img {
    							width: 24px;
    						}
			    		}
			    	}

				    table {
				    	width: 100%;
				    	.team-info-head {
				    		background-color: gray;
				    		font-size: 12px;
				    		tr {
    							th:first-child {
    								padding-left: 10px;
    								padding-right: 10px;
    							}
				    		}
				    	}
				    	.team-info-body {
				    		font-size: 12px;
    						font-weight: 600;
				    		tr {
    							td:first-child {
    								padding-left: 10px;
    								padding-right: 10px;
    								text-align: left;
    							}
    							td:last-child {
    								text-align: center;
    							}
				    		}
				    	}
				    }
	    		}
	    	}

	    	&.center-table {
	    		height: 110px;
	    		margin: 0 5px;

	    		.game-table {
	    			display: flex;
	    			flex-direction: row;
	    			justify-content: space-between;

	    			.game-table-left,
	    			.game-table-right {
	    				background: $tables-back;
	    				display: flex;
	    				flex-direction: column;
	    			}

	    			.game-table-left {
	    				.game-statistic {
	    					table {
	    						font-weight: 600;
	    						.game-name {
	    							text-align: center;
	    							padding: 5px;
	    							span {
	    								font-size: 16px;
    									color: white;
	    							}
	    						}
	    						.game-stats-head {
	    							tr {
	    								background-color: black;
	    								th {
	    									&:first-child { 
											    width: 100px;
											}
											&:last-child { 
											    padding-right: 12px;
											}
    										padding-left: 12px;
    										.ball {
    											img {
    												width: 20px;
    											}
    										}
	    								}
	    							}
	    						}

	    						.game-stats-body {
	    							tr {
	    								td {
	    									&:first-child { 
											    width: 100px;
											}
											&:last-child { 
											    padding-right: 12px;
											}
    										padding-left: 12px;
	    								}
	    							}
	    						}
	    					}
	    				}
	    			}

	    			.game-table-right {
	    				margin-left: 5px;
	    				.game-status {
	    					display: flex;
	    					flex-direction: column;

	    					.status-row {
	    						justify-content: space-around;
							    display: flex;
							    flex-direction: row;
							    padding: 6px;

	    						.status-circle {
	    							width: 15px;
								    height: 15px;
								    border-radius: 50%;
								    border: 1px solid gray;
								    background-color: green;
								    margin: 5px;
	    						}
	    					}
	    				}
	    			}
	    		}
	    	}
    	}
    }
}
.player-actions {
    background: $tables-back;
    position: absolute;
    bottom: 5px;
    display: flex;
    padding: 7px 10px;
    margin-right: 50px;

    .team-role {
    	color: $text;
        font-weight: 500;
    }

    .actions-buttons {
        button {
            font-size: 12px;
        }
    }
}