.modals {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;

    .modals-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: $modals-back;

        .modals-container {
            background: rgb(206, 136, 120);
            padding: 15px;
            box-shadow: 5px 4px 10px 5px $modals-shadow;
            margin: 0 50px;

            .confirm-choice,
            .radio-choice {
                h4 {
                    color: $text;
                }

                .buttons-block {
                    justify-content: center;
                    display: flex;

                    button {
                        margin-right: 10px;

                        &.no-btn,
                        &.cancel-btn {
                            background-color: $gray;
                            &:hover {
                                color: #333;
                                background-color: $lightgray;
                                border-color: #adadad;
                            }
                        }
                    }
                }
            }

            .radio-choice {
                display: flex;
                flex-direction: column;
                .radio-block {
                    .choice-row {
                        color: $text;
                        [name="second-move-choices"] {
                            transform: scale(1.3);
                        }
                        span {
                            padding-left: 10px;
                            font-weight: 600;
                        }
                    }
                }
                .confirm-button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
            }
        }
    }
}
#player-choice,#game-choice {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;

    h4 {
        color: $text;
    }
}