<section id="game"></section>
<section id="broker" class="active"></section>
<section id="expand-btn" class="expand-button" data-action="onExpandBtn">
	<i class="fa fa-expand"></i>
</section>
<section id="modals" class="modals"></section>