<div class="game-interface-class">
	<section id="informationTable" class="information-table"></section>
	<section id="playerActions" class="player-actions"></section>
	<section id="chat" class="chat"></section>
	<section id="chat-content" class="chat-content">
		<div class="modal-content draggable">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<ul class="chat-messages">
					<li>
						<span class="time">08:20pm</span>
						<span class="user">member11:</span>
						<span class="message">Hello</span>
					</li>
					<li>
						<span class="time">08:20pm</span>
						<span class="user">long name user:</span>
						<span class="message">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</span>
					</li>
					<li>
						<span class="time">08:22pm</span>
						<span class="user">member12:</span>
						<span class="message">Hi, how are you?</span>
					</li>
					<li>
						<span class="time">08:24pm</span>
						<span class="user">member11:</span>
						<span class="message">I'm fine :)</span>
					</li>
					<li>
						<span class="time">08:35pm</span>
						<span class="user">member12:</span>
						<span class="message">...</span>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<input type="text" name="" placeholder="Type something...">
				<button type="button" class="btn btn-primary">↑</button>
			</div>
		</div><!-- /.modal-content -->
	</section>
</div><div id="broker-loader" class="broker-loader loader">
	<div class="loader-svg"></div>
</div> 
   