<section id="game-field" class="game-field"></section>
<section id="game-interraction" class="game-interraction">
	<section id="game-btn"></section>
	<section id="game-interface"></section>
</section>