<div class="game-interface-class">
	<section id="informationTable" class="information-table"></section>
	<section id="playerActions" class="player-actions"></section>
	<section id="chat" class="chat"></section>
	<div class="loader">
		<div class="loader-svg"></div>
	</div>

	<!-- TODO move to separated modals view or create modals controller -->
	<!-- Reconnect modal -->
	<!-- <div class="modal fade" id="reconnect-dialog" role="dialog" data-backdrop="false">
		<div class="modal-dialog">

		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal">&times;</button>
		      <h4 class="modal-title">Reconnect</h4>
		    </div>
		    <div class="modal-body">
		      <p>Reconnect websockets.</p>
		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #fc603b !important;">Reconnect</button>
		      <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: #fc603b !important;">Close</button>
		    </div>
		  </div>
		  
		</div>
	</div> -->
	<!-- -->

</div>