<section id="game-field" class="game-field"></section>
<section id="game-interraction" class="game-interraction">
	<section id="game-interface"></section>
</section>
<div class="toss">
	<div class="toss-block">
		<div class="toss-message">
			<span>Roll the dice.</span>
		</div>
		<div class="dice">
			<img src="./images/dice.png" alt="">
		</div>
	</div>
</div>