<div class="game-interface-class">
	<section id="informationTable" class="information-table"></section>
	<section id="playerActions" class="player-actions"></section>
	<section id="chat" class="chat"></section>
	<div class="loader">
		<div class="loader-svg"></div>
	</div>
</div>