<section class="table-column left-table">
	<div class="left-player-info">
		<span class="player-role">Batter</span>
		<span class="player-name">Ellsbury, Jacoby</span>
		<span class="player-year">Boston, 2012</span>
		<div class="player-skills-container">
			<div class="player-skills">
				<span class="skill-name">Base Running:</span>
				<span class="skill-level level-5">Excellent</span>
			</div>
			<div class="player-skills">
				<span class="skill-name">Speed:</span>
				<span class="skill-level level-4">Good</span>
			</div>
			<div class="player-skills">
				<span class="skill-name">Bat Control:</span>
				<span class="skill-level level-5">Excellent</span>
			</div>
			<div class="player-skills">
				<span class="skill-name">Clutch Batting:</span>
				<span class="skill-level level-4">Good</span>
			</div>
		</div>
	</div>
	<div class="left-team-info">
		<div class="team-info">
			<div class="user-field">
				<span class="user-name">Computer</span>
				<span class="team-city">Boston, 2012</span>
			</div>
			<div class="team-status">
				<span>OOO</span>
			</div>
		</div>
		<table>
			<thead class="team-info-head">
				<tr>
					<th>PLAYER</th>
					<th>POSITION</th>
				</tr>
			</thead>
			<tbody class="team-info-body">
				<tr>
					<td>Ellbury, Jacoby</td>
					<td>CF</td>
				</tr>
				<tr>
					<td>Pendole, Dustin</td>
					<td>2B</td>
				</tr>
				<tr>
					<td>Gonzalez, Adrian</td>
					<td>1B</td>
				</tr>
				<tr>
					<td>Gonzalez, Adrian</td>
					<td>1B</td>
				</tr>
				<tr>
					<td>Gonzalez, Adrian</td>
					<td>1B</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
<section class="table-column center-table">
	<div class="game-table">
		<div class="game-table-left">
			<div class="game-statistic">
				<table>
					<caption class="game-name">
						<span>American League Game</span>
					</caption>
					<thead class="game-stats-head">
						<tr>
							<th>O</th>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>8</th>
							<th>9</th>
							<th>10</th>
							<th></th>
							<th>R</th>
							<th>H</th>
							<th>E</th>
						</tr>
					</thead>
					<tbody class="game-stats-body">
						<tr>
							<td>Boston</td>
							<td>1</td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
							<td>5</td>
							<td>6</td>
							<td>7</td>
							<td>8</td>
							<td>9</td>
							<td>10</td>
							<th></th>
							<td>0</td>
							<td>1</td>
							<td>0</td>
						</tr>
						<tr>
							<td>Minnesota</td>
							<td>1</td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
							<td>5</td>
							<td>6</td>
							<td>7</td>
							<td>8</td>
							<td>9</td>
							<td>10</td>
							<th></th>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="game-table-right">
			<div class="game-status">
				<div class="status-row game-out">
					<span>OUT:</span>
					<div class="status-circle">
						
					</div>
					<div class="status-circle">
						
					</div>
				</div>
				<div class="status-row game-h">
					<span>H:</span>
					<div class="status-circle">
						
					</div>
				</div>
				<div class="status-row game-e">
					<span>E:</span>
					<div class="status-circle">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="table-column right-table">
	<div class="right-player-info">
		<span class="player-role">Pitcher</span>
		<span class="player-name">Deduno Sam</span>
		<span class="player-year">Minesota, 2012</span>
		<div class="player-skills-container">
			<div class="player-skills">
				<span class="skill-name">Matchup Rating:</span>
				<span class="skill-level level-5">Excellent</span>
			</div>
			<div class="player-skills">
				<span class="skill-name">Stamina:</span>
				<span class="skill-level">13</span>
			</div>
		</div>
	</div>
	<div class="right-team-info">
		<div class="team-info">
			<div class="user-field">
				<span class="user-name">User</span>
				<span class="team-city">Minesota, 2012</span>
			</div>
			<div class="team-status">
				<span>OOO</span>
			</div>
		</div>
		<table>
			<thead class="team-info-head">
				<tr>
					<th>PLAYER</th>
					<th>POSITION</th>
				</tr>
			</thead>
			<tbody class="team-info-body">
				<tr>
					<td>Ellbury, Jacoby</td>
					<td>CF</td>
				</tr>
				<tr>
					<td>Pendole, Dustin</td>
					<td>2B</td>
				</tr>
				<tr>
					<td>Gonzalez, Adrian</td>
					<td>1B</td>
				</tr>
				<tr>
					<td>Gonzalez, Adrian</td>
					<td>1B</td>
				</tr>
				<tr>
					<td>Gonzalez, Adrian</td>
					<td>1B</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>