<div class="broker-part">
	<div class="broker-buttons">
		<div class="broker-button-wrapper" name="invite-wrapper">
			<button type="button" name="invite" >Invite</button>
			<div class="broker-list">
				<div class="list-container"></div>
			</div>
		</div>
		<div class="broker-button-wrapper" name="teams-wrapper">
			<button type="button" name="teams"><i class="fa fa-arrow-circle-o-left cancel" name="cancel" aria-hidden="true"></i>My teams</button>
			<div class="broker-list">
				<div class="list-container"></div>
			</div>
		</div>
		<div class="broker-button-wrapper" name="lineups-wrapper">
			<button type="button" name="lineups"><i class="fa fa-arrow-circle-o-left cancel" name="cancel" aria-hidden="true"></i>My lineups</button>
			<div class="broker-list">
				<div class="create_lineup">
					<button type="button" name="create_lineup">CREATE NEW LINEUP</button>
				</div>
				<div class="list-container"></div>
			</div>
		</div>
		<div class="broker-button-wrapper" name="games-wrapper">
			<button type="button" name="my_games">My games</button>
			<div class="broker-list">
				<div class="list-container"></div>
			</div>
		</div>
		<div class="broker-button-wrapper" name="invitations-wrapper">
			<button type="button" class="my-invites-btn" name="my_invites">My invites<i class="invites-number" name="my_invites_number">0</i></button>
			<div class="broker-list">
				<div class="list-container"></div>
			</div>
		</div>
	</div>
</div>
<div id="creation-region" class="creation-region"></div>
<div id="broker-loader" class="broker-loader">
	<div class="loader-svg"></div>
</div>