<div class="broker-part">
	<div class="broker-buttons">
		<button type="button" name="teams">My teams</button>
		<button type="button" name="empty">...</button>
	</div>
	<div class="broker-list left-list">
		<div class="list-container" id="left-list"></div>
		<button type="button" name="team-confirm" disabled>Send</button>
	</div>
</div>
<div class="broker-part">
	<div class="broker-buttons">
		<button type="button" name="invite" disabled>Invite</button>
		<button type="button" name="byemail" disabled>By email</button>
		<button type="button" name="games">My games</button>
	</div>
	<div class="broker-list right-list">
		<div class="list-container" id="right-list"></div>
		<button type="button" name="confirm" disabled>Send</button>
	</div>
</div>