<div class="broker-part">
	<div class="broker-buttons">
		<button type="button" name="teams">My teams</button>
		<button type="button" name="empty">...</button>
	</div>
	<div class="broker-list">
		<ul>
			<li>test1</li>
			<li>test2</li>
			<li>test3</li>
			<li>test4</li>
			<li>test5</li>
		</ul>
	</div>
</div>
<div class="broker-part">
	<div class="broker-buttons">
		<button type="button" name="invite">Invite</button>
		<button type="button" name="games">My games</button>
	</div>
	<div class="broker-list">
		<ul>
			<li>test1</li>
			<li>test2</li>
			<li>test3</li>
			<li>test4</li>
			<li>test5</li>
		</ul>
	</div>
</div>