<div class="broker-part left-broker">
	<div class="broker-buttons">
		<button type="button" name="invite" >Invite</button>
		<button type="button" name="teams" disabled>My teams</button>
	</div>
	<div class="broker-list left-list">
		<div class="list-container" id="left-list"></div>
		<div class="left-buttons">
			<button type="button" class="btn-default cancel-btn" name="cancel">Cancel</button>
			<button type="button" class="confirm-btn" name="confirm" disabled>Next</button>
		</div>
	</div>
</div>
<div class="broker-part right-broker">
	<div class="broker-buttons">
		<button type="button" name="my_games">My games</button>
		<button type="button" name="my_invites">My invites</button>
	</div>
	<div class="broker-list right-list">
		<div class="list-container" id="right-list"></div>
		<button type="button" class="confirm-btn" name="confirm" disabled>Confirm</button>
	</div>

	<div class="team-choose-head">
		<div class="tip">
			<i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i><span>Choose Team/lineUp starter</span>
		</div>
		<!-- <button type="button" name="team-confirm" disabled>Send</button> -->
	</div>
</div>
<div id="creation-region" class="creation-region"></div>
<div id="broker-loader" class="broker-loader">
	<div class="loader-svg"></div>
</div>