<div class="broker-part">
	<div class="broker-buttons">
		<button type="button" name="teams">My teams</button>
		<button type="button" name="empty">...</button>
	</div>
	<div class="broker-list">
		<div class="list-container">
			<ul>
				<li>team 1</li>
				<li>team 2</li>
				<li>team 3</li>
				<li>team 4</li>
				<li>team 5</li>
			</ul>
		</div>
	</div>
</div>
<div class="broker-part">
	<div class="broker-buttons">
		<button type="button" name="invite">Players</button>
		<button type="button" name="games">My games</button>
	</div>
	<div class="broker-list">
		<div class="list-container" id="right-list">
			
		</div>
		<button type="button" name="confirm" disabled>Confirm</button>
	</div>
</div>