<span class="team-status"></span>
<div class="actions-buttons">
	<button type="button" data-type="interface-btn" data-action="move" class="btn move">Move</button>
	<button type="button" data-type="interface-btn" data-action="stop" class="btn stop">Stop</button>
</div>