<span class="team-role"><%= displayText %></span>
<div class="actions-buttons">
	<% _.each(buttons, function(button) { %>
		<button type="button" data-type="interface-btn" data-move="<%= button.gameMove %>" class="btn move" <% if (!button.enabled) { %>disabled<% } %>><%= button.displayText %></button>
	<% }); %>
</div>