<h4><%= message %></h4>
<div class="buttons-block">
	<% if(cancel) { %>
		<button type="button" data-action="cancel">cancel</button>
	<% } %>
	<% if(reject) { %>
		<button type="button" data-action="reject">no</button>
	<% } %>
	<% if(confirm) { %>
		<button type="button" data-action="confirm"><%= confirm %></button>
	<% } %>
	<% _.each(choices, function(choice) { %>
		<button type="button" data-action="<%= choice.action %>"><%= choice.displayText %></button>
	<% }); %>
</div>