<div class="invitation-inputs-box">
	<div class="form-group">
		<label for="invitationEmail">Email address</label>
		<input type="email" name="email" class="form-control invitation-email" id="invitationEmail" placeholder="Email">
	</div>
	<div class="form-group">
		<label for="invitationPhone">Phone number</label>
		<input type="tel" name="phone" class="form-control invitation-phone" id="invitationPhone" placeholder="Phone">
	</div>
</div>