<td class="with-name"><%= displayText %></td>
<td class="with-rating"><span data-rating="<%= ghostRunnerMuRating.enumText %>"><%= ghostRunnerMuRating.displayText %></span></td>
<td class="with-checkbox starter">
	<input type="radio" name="select-player"></input>
</td>