<section class="creation-header">
	<button class="cancel-btn" type="button" name="cancel">cancel</button>
    <div class="team-info">
		<div class="block">
			<label name="team-name"><%= teamName %></label>
		</div>
		<div class="block">
			<label>Count:</label>
			<span class="count" name="count">0</span>
		</div>
		<div class="block">
			<input placeholder="lineUp name" class="lineUp-name" name="lineUp-name"  value="<%= lineUpName %>" maxlength="40">
		</div>
	</div>
	<button type="button" name="save" disabled>send</button>
</section>
<section class="players-list-container">
	<!-- line up table -->
</section>