<section class="creation-header">
	<div class="creation-header-button cancel-btn" type="button" name="cancel">CANCEL</div>
	<div class="team-info">
		<div id="heading">
          <span class="replace-msg"><%= title %></span>
        </div>
	</div>
	<div class="creation-header-button send-btn disabled" type="button" name="save">SEND</div>
</section>
<div class="players-list-scroll">
	<section class="players-list-container replacement">
		<!-- line up table -->
	</section>
	<section class="players-list-availablePlayers replacement">
		<!-- line up table -->
	</section>
</div>