<td class="with-name"><%= displayText %></td>
<td class="with-checkbox">
	<input type="checkbox" name="select-player"></input>
</td>
<td class="with-select">
	<select name="player-position">
		<% _.each(positions, function(pPosition){ %>
			<option value="<%= pPosition.enumText %>" <% if (position.enumText === pPosition.enumText) { %>selected="selected"<% } %> ><%= pPosition.displayText %></option>
		<% }) %>
	</select>
</td>