<td class="with-name"><%= displayText %></td>
<td class="with-cost"><%= cost %></td>
<td class="with-checkbox">
	<input type="radio" name="select-player"></input>
</td>
<td class="with-select">
	<div class="player-position">
		<span><%= position.displayText %></span>
	</div>
</td>