<% _.each(properties, function(prop){ %>
	<% if (prop) { %>
		<td class="<%= prop.className %>"><%= prop.displayValue %></td>
	<% } %>
<% }) %>
<td class="with-checkbox starter">
	<input type="radio" name="select-player"></input>
</td>