<td class="with-name"><%= displayText %><i class="fa fa-star starter-star" aria-hidden="true"></i></td>
<td class="with-checkbox">
	<input type="checkbox" name="select-player" <% if (starter) { %>checked<% } %>></input>
</td>
<td class="with-select">
	<select name="player-position">
		<% _.each(positions, function(pPosition){ %>
			<option value="<%= pPosition.enumText %>" <% if (position.enumText === pPosition.enumText) { %>selected="selected"<% } %> ><%= pPosition.displayText %></option>
		<% }) %>
	</select>
</td>