<section class="creation-header">
	<i class="fa fa-arrow-circle-o-left cancel" name="cancel" aria-hidden="true"></i>
	<div class="team-info">
		<div id="heading">
          <span class="replace-msg"><%= title %></span>
        </div>
	</div>
	<i class="fa fa-arrow-circle-o-right send disabled" name="save" aria-hidden="true"></i>
</section>
<section class="players-list-container">
	<!-- line up table -->
</section>
<section class="players-list-availablePlayers">
	<!-- line up table -->
</section>