<section class="creation-header lineup-ch">
	<div class="first-row">
		<div class="creation-header-button cancel-btn" type="button" name="cancel">CANCEL</div>
		<div class="team-info">
			<label name="team-name"><%= teamName %></label>
		</div>
		<div class="creation-header-button send-btn disabled" type="button" name="save">SEND</div>
	</div>
	<div class="second-row">
		<div class="block">
			<label>Count:</label>
			<span class="count" name="count">0</span>
		</div>
		<div class="block">
			<input placeholder="lineUp name" class="lineUp-name" name="lineUp-name"  value="<%= lineUpName %>" maxlength="40">
		</div>
	</div>
</section>
<section class="players-list-container lineup-ch">
	<!-- line up table -->
</section>