<section class="creation-header">
	<button class="cancel-btn" type="button" name="cancel">cancel</button>
    <div class="team-info">
        <div id="heading">
          <span class="replace-msg"><%= title %></span>
        </div>
	</div>
	<button type="button" name="save" disabled>send</button>
</section>
<section class="players-list-container">
	<!-- line up table -->
</section>
<section class="players-list-availablePlayers">
	<!-- line up table -->
</section>