<section class="creation-header lineup-ch">
	<div class="first-row">
		<i class="fa fa-arrow-circle-o-left cancel" name="cancel" aria-hidden="true"></i>
		<div class="team-info">
			<label name="team-name"><%= teamName %></label>
		</div>
		<i class="fa fa-arrow-circle-o-right send disabled" name="save" aria-hidden="true"></i>
	</div>
	<div class="second-row">
		<div class="block">
			<label>Count:</label>
			<span class="count" name="count">0</span>
		</div>
		<div class="block">
			<input placeholder="lineUp name" class="lineUp-name" name="lineUp-name"  value="<%= lineUpName %>" maxlength="40">
		</div>
	</div>
</section>
<section class="players-list-container lineup-ch">
	<!-- line up table -->
</section>