<section class="creation-header">
	<button type="button" name="cancel">cancel</button>
	<div class="team-info">
		<div class="block">
			<label>LineUp name:</label>
			<input type="text" name="lineUp-name" placeholder="..." value="<%= lineUpName %>" <% if (lineUpName) { %>disabled<% } %>>
		</div>
		<div class="block">
			<label>Count:</label>
			<span class="count" name="count">0</span>
		</div>
		<div class="block">
			<label name="team-name"><%= teamName %></label>
		</div>
	</div>
	<button type="button" name="save" disabled>save</button>
</section>
<section class="players-list-container">
	<table>
		<!-- lineUp players list -->
	</table>
</section>