<section class="creation-header">
	<button class="cancel-btn" type="button" name="cancel">cancel</button>
    <div class="team-info">
       <div style="background:yellow; margin:5px;height:50px"><h4 style="padding-left:15px;line-height:50px;padding-right:15px">Select replacement for batter (pinch hitter)</h4></div>
	</div>
	<button type="button" name="save">send</button>
</section>
<section class="players-list-container" style="border-bottom:none">
	<!-- line up table -->
</section>
<section class="players-list-Availableplayers" style="margin-top:0px;border-top:none">
	<!-- line up table -->
</section>