<table>
	<thead>
		<tr><% _.each(headings, function(heading){ %>
			<td><%= heading.displayText %></td>
		<% }) %>
		<td class="select position">Pos</td>
		<td class="select batting">BO</td>
		<td class="choise"></td></tr>
	</thead>
	<tbody>
		<!-- lineUp players list -->
	</tbody>
   <!-- <tbody>
		 lineUp players list 
	</tbody>-->
</table>