<section class="creation-header">
	<button class="cancel-btn" type="button" name="cancel">cancel</button>
	<div class="team-info">
		<div class="block">
			<label>LineUp name:</label>
			<input type="text" name="lineUp-name" placeholder="(enter lineup name)">
		</div>
		<div class="block">
			<label name="team-name"><%= teamName %></label>
		</div>
	</div>
	<button type="button" name="save" disabled>send</button>
</section>
<section name="list-container" class="players-list-container masked">
	<table>
		<!-- lineUp players list -->
	</table>
</section>