<section class="creation-header">
	<i class="fa fa-arrow-circle-o-left cancel" name="cancel" aria-hidden="true"></i>
	<div class="team-info">
		<label name="team-name"><%= teamName %></label>
	</div>
	<i class="fa fa-arrow-circle-o-right send disabled" name="save" aria-hidden="true"></i>
</section>
<section name="list-container" class="players-list-container masked">
    <!-- table composite -->
</section>