<section class="creation-header">
	<div class="creation-header-button cancel-btn" type="button" name="cancel">CANCEL</div>
	<div class="team-info">
		<label name="team-name"><%= teamName %></label>
	</div>
	<div class="creation-header-button send-btn disabled" type="button" name="save">SEND</div>
</section>
<section name="list-container" class="players-list-container masked">
    <!-- table composite -->
</section>