<section class="creation-header">
	<button type="button" name="cancel">cancel</button>
	<div class="team-info">
		<div class="block">
			<label>Team name:</label>
			<input type="text" name="team-name" placeholder="[...]">
		</div>
		<div class="block">
			<label>Balance</label>
			<span name="balance">[computed]</span>
		</div>
	</div>
	<button type="button" name="save" disabled>save</button>
</section>
<section class="players-list-container">
	<table>
		<!-- team players list -->
	</table>
</section>