<%= displayText %>
<div class="icon-actions">
	<% if (type.enumText === 'PRIVATE') { %>
		<i class="fa fa-trash-o remove-icon" name="remove-team" aria-hidden="true"></i>
		<!-- <i class="fa fa-pencil-square-o edit-icon" name="edit-team" aria-hidden="true"></i> -->
	<% } %>
	<!-- <i class="fa fa-arrow-circle-o-right to-lineup" aria-hidden="true"></i> -->
</div>
