<div class="top">
	<div class="user">
		<span class="user-name"><%= userName %><div class="unread-count">
			<span class="count"><%= unReadMessageCount %></span>
		</div></span>
	</div>
	<span class="time"><%= date %></span>
</div>
<div class="bottom">
	<div class="message"><i class="fa fa-exclamation-circle unread-sign <% if (lastMessageState.enumText === 'UNREAD') { %>visible<% } %>" aria-hidden="true"></i><% if (lastMessage) { %><%= lastMessage %><% } else { %>No unread messages.<% } %></div>
</div>