<ul class="chat-messages">
	<li class="me">
		<span class="user">member11:</span>
		<span class="message">Hello</span>
		<span class="time">08:20pm</span>
	</li>
	<li class="admin">
		<span class="user">⚠administrator:</span>
		<span class="message">Your invitation to member 13 was rejected.</span>
		<span class="time">08:21pm</span>
	</li>
	<li>
		<span class="user">long name user:</span>
		<span class="message">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</span>
		<span class="time">08:20pm</span>
	</li>
	<li>
		<span class="user">member12:</span>
		<span class="message">Hi, how are you?</span>
		<span class="time">08:22pm</span>
	</li>
	<li class="me">
		<span class="user">member11:</span>
		<span class="message">I'm fine :)</span>
		<span class="time">08:24pm</span>
	</li>
	<li>
		<span class="user">member12:</span>
		<span class="message">... :)</span>
		<span class="time">08:35pm</span>
	</li>
	<li class="me">
		<span class="user">member11:</span>
		<span class="message">There is a good weather today and sun is shining.</span>
		<span class="time">08:36pm</span>
	</li>
</ul>