<div class="chat-container">
	<i class="fa fa-commenting" name="chat-btn">
		<i class="new_messages-number" name="new_messages_number"></i>
	</i>
</div>
<section class="chat-content">
	<div class="modal-content draggable">
		<div id="chat-modal">
			<!-- chat modal views will be rendered here -->
		</div>
		<div class="chat-loader">
			<div class="loader-svg">
				
			</div>
		</div>
	</div>
</section>